*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: #e579e6;
}

.yellow{
    height: 400px;
    background-color: #e1d67a;
}

.blue{
    height: 500px;
    background-color: #0186ff;
}

.top{
    height: 50px;
    background-color: #abcfe7;
}
